//COLORS
$color-white: #fff;
$color-white-hover:rgb(230, 223, 223);
$color-blue: #0075f2;
$color-green: rgb(9, 107, 114);
$color-light-green: #37af37;
$color-brown: #7F675B;
$color-gray: #b7b7b7;

//PADDINGS AND MARGINS
$padding-big: 2rem;
$padding-medium: 1rem;
$padding-small: .5rem;
$margin-big: 2rem;
$margin-small: .5rem;

//letter 
$title-big: 2rem;
$title-medium: 1.5rem;
$title-small: 1.3rem;

$desktop-font: 1.3rem;
$tablet-font: 1.1rem;
$mobile-font:.9rem;