
*{
    margin:0;
    padding:0;
}
@font-face {
    font-family: 'matrix_code_nfiregular';
    src: url('https://www.shaungorneau.com/fonts/matrix_code_nfi-demo/matrix_code_nfi-webfont.woff2') format('woff2'),
         url('https://www.shaungorneau.com/fonts/matrix_code_nfi-demo/matrix_code_nfi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Roboto";
    max-width: 100%;
    overflow-x: hidden;
}

textarea{
    resize: none;
    font-family: "Roboto";/*No sé porque no funciona desde el body*/
}
