.titles{
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $green;
    letter-spacing: .2rem;
    margin-bottom: 5rem;
    transition: 1s;
    
    &:hover{
        @include mv(768px) { transform: scale(1.1) skewX(-15deg); }

    }

    @media (max-width:900px){
        font-size: 1.3rem;
    }
    
    @media (max-width:650px){
        font-size: 1.15;
        margin-left: .8rem;
    }
}

/* .titles[data-inviewport]{
    opacity: 0;
}

.titles[data-inviewport].is-inViewport{
    opacity: 1;
    animation: moveInLeft 3s;
}
 */