.header {
    height: 80dvh;
    background-color: $green;
    position: relative;

    &__canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
   
    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2;
    }

    &__icon {
        position: absolute;
        z-index: 2;
        top: 52%;
        left: 75%;
        transform: translate(-50%, -50%);
        width: 10rem;
        animation: fade;
        animation-duration: 5s;
    }
    
    &__greeting {
        color: $white;
        position: absolute;
        z-index: 2;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: typing 2.5s steps(26), caret 1s steps(1) infinite;
        width: 14rem;
        overflow: hidden;
        border-right: 0.05em solid $white;
        white-space: nowrap;
    }

    @include mv(1200px) { &__icon {  width: 8rem } }

    @include mv(1000px) { 
        height: 50dvh;
        &__icon { display: none }
    }
    
    @include mv(685px) { height: 75dvh }
}

.about-me {
    
    &__photo-container {
        width: 14rem;
        height: 14rem;
        border: .35rem solid $green;
        border-radius: 50%;
        overflow: hidden;
        @include flexible(flex, row, nowrap, center, center);

    }
    &__photo-container[data-inviewport]{ opacity: 0 }
    
    &__photo-container[data-inviewport].is-inViewport{
        opacity: 1;
        animation: moveInTop 3s;
    }

    &__photo {
        width: 12rem;
        height: 15.5rem;
    }

    &__text-container {
        @include flexible(flex, column, nowrap, center, normal);
        background-color: $gray;
        color: $white;
        padding: $padding-medium;
        line-height: 1.5;
        height: 13rem;
        box-shadow: .4rem .4rem .4rem $gray;
    }

    &__text-container[data-inviewport]{ opacity: 0 }
    
    &__text-container[data-inviewport].is-inViewport{
        opacity: 1;
        animation: moveInBottom 3s;
    }

    @include mv(1400px) {

        &__photo-container {
            width: 12rem;
            height: 12rem;
            border: .3rem solid $green;
        }

        &__photo {
            width: 10rem;
            height: 13.5rem;
         }

        &__text-container { height: auto }
    }

    @include mv(768px) {

        &__photo-container {
            width: 8.5rem;
            height: 8.5rem;
            border: .2rem solid $green;
        }

        &__photo {
            width: 7rem;
            height: 9rem;
        }
    }
}

.skills {

    &__boxes-container { 
        display: grid;
        grid-template-areas: "experiences education" "experiences languages";
        grid-template-columns: 1fr .8fr;
    }

    &__text {
        margin-bottom: 2rem;
        letter-spacing: .1rem;
    }

    &__items {
        margin-bottom: 2rem;
    }
    
    &__experiences-box {
        grid-area: experiences;
    }

    &__experiences-box[data-inviewport] {
        opacity: 0;
    }

    &__experiences-box[data-inviewport].is-inViewport {
        animation: moveInLeft 3s;
        animation-fill-mode: forwards;
    }

    &__education-box {
        grid-area: education;
    }

    &__education-box[data-inviewport] {
        opacity: 0;
    }

    &__education-box[data-inviewport].is-inViewport {
        animation: moveInTop 3s;
        animation-fill-mode:forwards;
    }

    &__languages-box {
        grid-area: languages;
    }

    &__languages-box[data-inviewport] {
        opacity: 0;
    }

    &__languages-box[data-inviewport].is-inViewport {
        animation: moveInRight 3s;
        animation-fill-mode:forwards;
    }

    @media (max-width: 1000px) {

        &__boxes-container { 
            grid-template-areas: "experiences" "education" "languages"; 
            grid-template-columns: 1fr; 
        }

        &__experiences-box[data-inviewport].is-inViewport {
            animation: moveInTop 2s;
            animation-fill-mode:forwards;
        }

        &__education-box[data-inviewport].is-inViewport {
            animation: moveInTop 2s;
            animation-delay: .5s;
            animation-fill-mode:forwards;
        }

        &__languages-box[data-inviewport].is-inViewport {
            animation: moveInTop 2s;
            animation-fill-mode:forwards;
            animation-delay: 1s;
        }
    }
}

.codes {
    &__container { display: flex }

    &__box {
        width: 15vw;
        height: 20rem;
        padding: $padding-medium;
    }

    @media(max-width: 1400px) { &__box { width: 20vw } }
    @media (min-width: 1000px) {
        &__box[data-inviewport] { opacity: 0 }
    
        &__box[data-inviewport].is-inViewport {
            animation: moveSkew 2s;
            animation-fill-mode: forwards;
        }
    }

    @media (max-width: 1000px) {
        &__container[data-inviewport]{ opacity: 0 }
        &__container[data-inviewport].is-inViewport{
            opacity: 1;
            animation: fade 3s;
        }

        &__box {
            width: 60vw;
            transform: skewX(0deg);
            height: 17rem;
            max-width: 25rem;
        }
    }

}
