svg {
    width: 1.5rem;
    vertical-align: middle;
    @include mv(500px){ width: 1.2rem; }
}

a {
    text-decoration: none;
    color: $white;
    
}

section {
    min-height: 60vh;
    padding: $padding-huge;
    @include mv() { padding: 2rem 1rem }
}