*{
    font-weight: 400;
    font-size: 16px;
}

div, p, a, dd {
    font-size: $f-desktop;

    @include mv(1000px) { font-size: $f-laptop; }

    @include mv(768px) { font-size: $f-tablet; }

    @include mv(480px) { font-size: $f-mobile; }
}

main {
    font-family: "Roboto";
    overflow-x: hidden;
}

.heading-primary {
    color: $white;
    text-transform: uppercase;
    white-space: nowrap; /* Keeps the content on a single line */
    margin-bottom: 1rem;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    animation-name: moveInTop;
    animation-duration: 5s;
}

.heading-secondary {
    color: $white;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 400 ;
    animation-name: moveInBottom;
    animation-duration: 5s;
    font-size: 1.5rem;

}

.content-title { font-size: 1.5rem }

.content-subtitle { font-size: 1.3rem }

@include mv(1200px) {
    .heading-primary { font-size: 2.5rem }
    .heading-secondary { font-size: 1rem }
    .content-title { font-size: 1.3rem }
    .content-subtitle { font-size: 1.1rem }
}

@include mv(768px) {
    .heading-primary { font-size: 2rem }
    .heading-secondary { font-size: 1rem }
}