//COLORS
$white: #fff;
$blue: #0075f2;
$green: rgb(9, 107, 114);
$light-green: #37af37;
$brown: #7F675B;
$gray: #b7b7b7;

//PADDINGS AND MARGINS
$padding-huge: 3rem!important;
$padding-big: 2.4rem!important;
$padding-medium: 1rem;
$padding-small: .5rem;
$margin-big: 2rem;
$margin-small: .5rem;

//letter 
$f-desktop: 1.1rem;
$f-laptop: .9rem;
$f-tablet: .85rem;
$f-mobile: .8rem;